<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafico-dona [legend]="graphics.grafico1.leyenda" [data]="graphics.grafico1.data" [type]="graphics.grafico1.type" [labels]="graphics.grafico1.labels"></app-grafico-dona>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafico-dona [legend]="graphics.grafico2.leyenda" [data]="graphics.grafico2.data" [type]="graphics.grafico2.type" [labels]="graphics.grafico2.labels"></app-grafico-dona>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafico-dona [legend]="graphics.grafico3.leyenda" [data]="graphics.grafico3.data" [type]="graphics.grafico3.type" [labels]="graphics.grafico3.labels"></app-grafico-dona>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafico-dona [legend]="graphics.grafico4.leyenda" [data]="graphics.grafico4.data" [type]="graphics.grafico4.type" [labels]="graphics.grafico4.labels"></app-grafico-dona>
            </div>
        </div>
    </div>
</div>